<div>
<div>

    <div id='chat_box'>
        <span class='self_message'> self message  </span>
        <span  class='other_message' > other message</span>

    </div>
    <div>
        
    </div>

</div>



</div>