<div>

        <div>
            <form action='/dashboard/restaurant/createrest' method='post'> 

                <div class="form-group">
                    <label for="formGroupExampleInput">Restaurant Name</label>
                    <input name='name' type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                </div>

                <div class="form-group">
                    <label for="formGroupExampleInput">Mobile</label>
                    <input name='mobile' type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                </div>

                <button >Submit</button>
            </form>

        </div>



</div>